@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Rubik", sans-serif;
}

.container{
    height: 500px;
    width: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#myBtn {
    background-color: lightcoral;
    color: #eee;
    font-size: 16px;
    padding: 10px;
    border-radius: 40px;
    margin-top: 10px;
}

#myBtn2 {
    background-color: lightcoral;
    color: #eee;
    font-size: 16px;
    padding: 10px;
    border-radius: 40px;
    margin-top: 10px;    
}
  
.pixel {
    display: flex;
    height: auto;
    flex-basis: 10px;
    background-color: red;
    border: 1px solid black;
    flex: 1;
}

.hoveredPixel {
    background-color: black;
}
  
.row {
    background-color: red;
    border: 1px solid black;
    display: flex;
    flex: 1;
}

.errorMessageClass {
    color: red;
}