@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Rubik", sans-serif;
    background-color: #adcbe1;
}

.display {
    background-color: #aab87c;
    padding: 30px;
    border-radius: 30px;
}

.container{
    height: 500px;
    width: 500px;
    border: 1px solid #0D1821;
    display: flex;
    flex-direction: column;
}

#myBtn {
    background-color: #DB504A;
    font-family: "Rubik", sans-serif;
    color: #eee;
    font-size: 16px;
    padding: 10px;
    border-radius: 40px;
    margin-top: 10px;
}
  
.pixel {
    display: flex;
    height: auto;
    flex-basis: 10px;
    background-color: #F0F4EF;
    border: 1px solid #0d182154;
    flex: 1;
}

.secondaryPixel {
    display: flex;
    height: auto;
    flex-basis: 10px;
    background-color: red;
    border: 1px solid #0d182154;
    flex: 1;
}

.hoveredPixel {
    background-color: #344966;
}

.secondaryHoveredPixel {
    background-color: black;
}
  
.row {
    background-color: #F0F4EF;
    display: flex;
    flex: 1;
}

.displayErrorContainer{
    text-align: center;
}

.inputContainer {
    text-align: center;
}

.errorMessageClass {
    color: #0D1821;
}